@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personnalisation de la scrollbar pour le thème sombre */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}
::-webkit-scrollbar-thumb {
  background: rgba(147, 51, 234, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(147, 51, 234, 0.5);
}

